.card-information-body {
    width: 100%;
    background-color: rgb(243, 243, 243);

    .card-information-header {
        width: 100%;
        overflow: hidden;
    }

    .card-content-information {
        display: flex;
    }

    .card-left-information {
        width: 70%;
        .blur-header{
            color: #818b9c;
            font-size: 12px;
            font-weight: 700;
        }
        // .ant-btn{
        //     background-color: #d6dbe4;
        //         }
        
    }
    .card-right-information{
        padding-right: 3%;
        width: 28%;
    }

}