.attachment-header-section {
    display: flex;
.icon{
    font-size: 25px;
}
    .header {
        margin-left: 1%;
    }

    .ant-typography {
        margin: 0%;
    }
}

.attachment-section {
    .ant-typography {
        margin: 0%;
    }
}

.attachment-content-section {
    flex-grow: 1;
    margin-left: 6%;

    .link-section {
        display: flex;

        .link-image {
            color: #dbdcdf;
            background-color: #5e6c84;
            width: 115px;
            height: 75px;
            line-height: 70px;
            font-size: 15px;
            text-align: center;

        }

        .link-matter {
            padding-left: 2%;
            padding-top: 2%;

            p {
                margin: 0%;
            }

            .attachment-link {
                font-weight: bold;
                color: #172b4d;

                margin: 0%;

            }

            a {
                text-decoration: underline;
                color: #5e6c84;
            }
        }
    }

    .ant-btn {
        margin-top: 0.8%;
        padding: 0% 0.6%;
    }
}