.project-activity-container {
    display: flex;
    margin-top: 5%;
.icon{
    font-size: 1.4em;
    margin-top: 19%;
}
    .ant-typography {
        margin: 0%;
    }

    .activity-header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

   
}