.filter-button {
    background-color: white;
    color: black;
    margin-left: 1%;
}

.no-filter-button {
    margin-left: 1%;
    background-color: #ffffff33;
    color: white;
}

.filter-container {
    margin-left: 0.5%;
    margin-right: 0.5%;

}

.filter-popup {
    top: 59px;
    left: 250px;
    // background-color: white;
}
.ant-modal .ant-modal-header {
    background: rgb(243, 243, 243);

}
.filter-icon {
    color: black;
    margin-right: 5%;
}

li {
    list-style-type: none;
    text-align: -webkit-match-parent;
}

.members-list {
    height: 5vh;
    width: 100%;
    margin-top: 2%;
    display: inline-flex;
   
}


// .icon-container {
//     display: inline;
//     border-radius: 50%;
//     background-color: rgb(230, 235, 240);
//     padding: 1% 1%;
//     margin-right: 2%;
    
// }

// .person-icon {
//     color: grey;
//     font-size: 1em;

// }

.filter-caption {
    margin-bottom: 1.5%;
    color: #5e6c84;
    font-size: 13px;
    font-weight: 500;
}

.Filter-description {
    color: grey;
    font-size: 12px;
    margin-top: 1.5%;
}

.filter-members {
    margin-top: 3%;
}
.cards-assigned-container {
    background-color: rgb(103, 61, 221);
    text-align: center;
    display: inline;
    border-radius: 50%;
    margin-right: 2%;
    font-size: 1em;
    padding: 1%;
    color: white;
}

:where(.css-dev-only-do-not-override-1ct6cg).ant-checkbox-wrapper+:where(.css-dev-only-do-not-override-1ct6cg).ant-checkbox-wrapper {
    margin-inline-start: 0px;
}

:where(.css-dev-only-do-not-override-1ct6cg).ant-checkbox+span {
    min-width: 100%;
}

.members-container {
    width: 100%;
}

hr {
    border: 0px ;
    border-top: 1px solid;
    border-color: lightgray;
}

.time-icon-container {
    background-color: rgb(244, 47, 47);
    padding: 1% 1.5%;
    border-radius: 50%;
    margin-right: 2%;
}

.time-icon {
    font-size: 1em;
    color: white;
}

.time-icon-due-container{
    background-color: rgb(231, 231, 45);
    padding: 1% 1.5%;
    border-radius: 50%;
    margin-right: 2%;
}

.time-icon-due-month-container {
    background-color: rgb(230, 235, 240);
    padding: 1% 1.5%;
    border-radius: 50%;
    margin-right: 2%;
}

// span {
//     // cursor: default;
//     min-width: 100%;
// }

.select-options-list {
    display: block;
    font-weight: 600;
    font-size: 1.125em;
}

.costumized-icon {
    width: 50%;
    margin-right: 5%;
    font-size: 1.125em;
}
