// .pop-over {
//     width: 100%;
// }

// .select-labels-input {
//     width: 100%;
// }

// .ant-popover .ant-popover-inner {
//     background-color: #ffffff;
//     background-clip: padding-box;
//     border-radius: 8px;
//     box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
//     padding: 12px;
// }

.ant-checkbox+span {
    width: 95%;
}

.label-list{
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}

.label-list-item {
    width: 100%;
}

.label-list-checkbox {
    width: 100%;
}

.checkbox-item-container{
    width: 250px;
    display: flex;
    padding: 0%;
    margin: 0%;
}

.ant-list .ant-list-item {
    border-block-end-width: 0;
    padding: 2%;
}

.checkbox-item-card {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 7px;
    // display: flex;
    align-self: center;
}