.project-date-checkbox-section{
    margin-left:7%;
   
    .ant-typography{
        margin: 0%;
    }
    
    .ant-picker{
      border: none;
      box-shadow: none;
    
    }
    
    
    .ant-checkbox-wrapper{
    
      display: flex;
      align-items: center;
    }
}



