.content-container {
    // background-image: radial-gradient(rgb(34, 255, 0),rgb(17, 17, 116));
    align-self: center;
}

.power-ups-title {
    display: block;
    color: #5e6c84;
    margin: 1% 0% 0.5% 0%;
}

.add-power-ups-button {
    background-color: transparent;
    color: #172b4d;
    border: 0px;
    margin: 0.5% 0% 1% 0%;
}


.add-power-ups-button:hover {
    background-color: #abb5c7;
    color: #172b4d;
    border-color: #abb5c7;
}

.create-button-list-container {
    width: 300px;
    // height: 50vh;
    // overflow-y: scroll;
}

.add-buttons-list-container {
    width: 70%;
}

.crate-buttons-list {
    width: 100%;
}

.button-templates-title-container {
    width: 100%;
}

.create-button-card {
    width: 100%;
    margin-bottom: 2%;
    border-radius: 0.25em;
    background-color: rgb(212, 232, 239);
    color: #172b4d;
    display: block;
    border-color: transparent;
}

.create-button-icon {
    color: #172b4d;
    font-size: 1.125em;
}

.ant-card .ant-card-body {
    padding: 3% ;
}

.ant-popover .ant-popover-inner {
    width: 100%;
}

.anchor-element {
    text-decoration: underline;
    color: #5e6c84;
}

.description {
    color: #5e6c84;
}

.action-button-list-container {
    display: flex;
    flex-direction: column;
}

.action-button-list {
    background-color: #abb5c7;
    color: #172b4d;
    border: 0px;
    margin: 0.5% 0% 1% 0%;
    width: 12%;
    text-align: left;
}

.button-list-icons {
    margin-right: 15%;
}

.move-card {
    width: 100%;
    margin-top: 2%;
    border: 0px;
    background-color: rgb(201, 230, 242);
    color: #5e6c84;
}

.move-card-1 {
    margin-right: 1%;
    width: 70%;
    margin-top: 2%;
    border: 0px;
    background-color: rgb(201, 230, 242);
    color: #5e6c84;
}

.move-card-2 {
    margin-left: 1%;
    width: 30%;
    margin-top: 2%;
    border: 0px;
    background-color: rgb(201, 230, 242);
    color: #5e6c84;
}

.move-card-title {
    display: block;
}

.move-card-select-options {
    width: 100%;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 32px;
    background-color: rgb(201, 230, 242);
    border: 0px;
}

.move-card-popover {
    width: 300px;
}

.move-card-list-position-container {
    display: flex;
    width: 100%;
}

.move-board-cards-container {
    margin-bottom: 5%;
}

.move-board-card-title {
    color: #5e6c84;
    display: block;
}

.label-checkbox {
    margin-top: 3%;
}

.ant-popover .ant-popover-title {
    text-align: center;
    color: #5e6c84;
}

.keep-label {
    margin-top: 5%;
}

.tick-icon-container {
    margin-left: 16%;
    background-color: lightgreen;
    width: 20%;
    border-radius: 0.25em;
    text-align: center;
}

.tick-icon {
    color: white;
    font-size: 1.25em;
}

.delete-button {
    display: block;
    border: 0px;
    margin: 0.5% 0% 1% 0%;
    width: 12%;
    text-align: left;
}

.delete-icon {
    font-size: 1.125em;
    margin-right: 15%;
}

.action-share-button-list {
    background-color: #abb5c7;
    color: #172b4d;
    border: 0px;
    margin: 0.5% 0% 1% 0%;
    width: 12%;
    text-align: left;
    display: block;
}