.modal-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}
.ant-modal .ant-modal-content{
    background-color: rgb(243, 243, 243);
}

.modal-page-left{
    overflow: hidden;
    width: 73%;
}

.modal-page-right{
    width: 25%;
}