.Project-card-member-section {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    // border: 1px solid red;

    .ant-typography {
        margin: 0%;
       
        
    }
   
    .member-list {
        padding-top: 8%;
    }

    .member {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        font-size: 15px;
        color: white;
        text-align: center;
        background: rgb(3, 94, 3);
        padding: 1%;
    }

    .icon-container {
        font-size: 30px;
       
    }
}