.checkbox-section {
    display: flex;
    align-items: flex-start;
}

.checkbox-icon-container {
    width: 8%;
}

.checkbox-title-section {
    display: flex;
    justify-content: space-between;
}

.checklist-submit-section {
    display: flex;
    justify-content: space-between;
}

.checklist-item-container {
    display: flex;
    justify-content: space-between;

}