.project-card-checkbox-container {
    display: flex;
    margin-top: 2%;

    .icon {
        margin-top: 12%;
        font-size: 1.4em;
       
    }

    .checkbox-content-section {
        margin-left: 1%;

        .ant-typography {
            margin: 0%;
        }

        .header {
            margin-left: 1%;
        }

        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .prj-hide-show-delete-container {
        display: flex;

    }
}

.AddChecklistButton {
    margin-left: 5%;
}