.list-container-bg{
    
    min-height: 100vh;
    min-width: 400vw;
    background-image: linear-gradient(to right, #3B185F,#863A6F);
    color: white;
    padding: 10px;
}
.project-heading{
    color: #ffff;
    font-family: 'Bree-serif';
    font-size: 27px;
    font-weight: bold;
    
}

.list-items{
    
    display: flex;
}
.cancel-icon{
    color: black;
}
.add-list-button{
    margin-top: 25px;
    margin-left: 30px;
    background-color: #ffffff33;
    color: #ffffff;
    border:none;
    border-radius:0;
    padding: 20px;
    display: flex;
    align-items: center;
}
.add-list-container{
    background-color: white;
}


